@import url(https://fonts.googleapis.com/css2?family=Poppins&play=wrap);


body, p{
    margin:0px;
    padding : 0px;
}

.cover{
    /* display: none !important ;      */
    position: fixed;
    z-index: 1; 
    top: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url(asset/bg/bg-undanganwide.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    min-height: 100vh;
    min-width: 100%;
    padding-top: 0;
    transition: all 2s ease;
}

.hide{
    /* display: none !important ;  */
    top: -1000px;
}


.nameBride{
    font-size: 4rem;
    font-family: 'Tangerine', cursive;
    text-shadow: 4px 4px 4px #aaa;
}

.whitespace{
    min-height: 40vh;
    margin-top: 30px;
}
.invited{
    font-size: 1rem;
}
.invited a:hover{
    background-color: rgb(114, 83, 83);
}


.welcome{
    position: relative;
    background-color: bisque;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(asset/bg/welcome2.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    min-height: 100vh;
    min-width: 100%;
    /* position: fixed; */
    /* top: 0;
    overflow-y: auto; */
}
.welcome .word{
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    line-height: 3rem;
}